:root {
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(225, 100%, 94%);
    --shadow: hsl(229, 77%, 88%);
    --light-blue: hsl(245, 83%, 65%);
    --bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}