@use '../utils' as u;

body {
    font-family: u.$font;
    font-size: u.rem(14);

    @include u.breakpoints-up(medium) {
        font-size: u.rem(16);
    }
}

h1 {
    font-weight: 900;
    font-size: u.rem(22);
    color: var(--dark-blue);

    @include u.breakpoints-up(medium) {
        font-size: u.rem(25);
    }
}

p {
    color: var(--desaturated-blue);
    line-height: 1.6;
}

.plan {
    line-height: 1;
}

.plan__type {
    font-weight: 900;
    color: var(--dark-blue);
}

.container__change {
    font-weight: 700;
    text-decoration: underline;
    color: var(--bright-blue);
    transition: color .2s, text-decoration-color .2s;

    &:hover {
        text-decoration-color: transparent;
        color: var(--light-blue);
    }
}

.plan-btn {
    font-weight: 700;
    color: var(--desaturated-blue);
    transition: color .2s;

    &--blue:hover {
        color: var(--dark-blue);
    }

    &--purple {
        color: var(--white);
    }
}