:root {
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(225, 100%, 94%);
  --shadow: hsl(229, 77%, 88%);
  --light-blue: hsl(245, 83%, 65%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

li {
  list-style: none;
}

html {
  font-size: 100%;
}

body {
  min-height: 100vh;
  max-width: 100vw;
}

body {
  font-family: "Red Hat Display", sans-serif;
  font-size: 14px;
}
@media (min-width: 43.75em) {
  body {
    font-size: 16px;
  }
}

h1 {
  font-weight: 900;
  font-size: 22px;
  color: var(--dark-blue);
}
@media (min-width: 43.75em) {
  h1 {
    font-size: 25px;
  }
}

p {
  color: var(--desaturated-blue);
  line-height: 1.6;
}

.plan {
  line-height: 1;
}

.plan__type {
  font-weight: 900;
  color: var(--dark-blue);
}

.container__change {
  font-weight: 700;
  text-decoration: underline;
  color: var(--bright-blue);
  transition: color 0.2s, -webkit-text-decoration-color 0.2s;
  transition: color 0.2s, text-decoration-color 0.2s;
  transition: color 0.2s, text-decoration-color 0.2s, -webkit-text-decoration-color 0.2s;
}
.container__change:hover {
  -webkit-text-decoration-color: transparent;
          text-decoration-color: transparent;
  color: var(--light-blue);
}

.plan-btn {
  font-weight: 700;
  color: var(--desaturated-blue);
  transition: color 0.2s;
}
.plan-btn--blue:hover {
  color: var(--dark-blue);
}
.plan-btn--purple {
  color: var(--white);
}

body {
  background: url("../images/pattern-background-mobile.svg"), var(--pale-blue);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: clamp(20px, 4vh, 70px) 0;
}
@media (min-width: 43.75em) {
  body {
    background: url("../images/pattern-background-desktop.svg"), var(--pale-blue);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 50%;
  }
}

.card {
  background: var(--white);
  width: min(450px, 100% - 46px);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 15px 20px var(--shadow);
}
@media (max-width: 20.31125em) {
  .card {
    width: 90vw;
  }
}
.card__image img {
  display: block;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.card__content {
  padding: clamp(30px, 4vh, 42px) 25px clamp(25px, 4vh, 35px);
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 43.74875em) {
  .card__content {
    padding-inline: 21px;
  }
}
.card__content__title, .card__content__description {
  text-align: center;
}
.card__content__title {
  margin-bottom: 15px;
}
.card__content__description {
  padding: 0 13px;
  margin-bottom: 20px;
}
@media (min-width: 43.75em) {
  .card__content__description {
    padding: 0 30px;
  }
}
.card__content__plan-container {
  background: var(--very-pale-blue);
  border-radius: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: clamp(15px, 4vh, 25px);
  margin-bottom: clamp(25px, 4vh, 32px);
}
@media (max-width: 43.74875em) {
  .card__content__plan-container {
    padding: 15px;
  }
}
@media (max-width: 20.31125em) {
  .card__content__plan-container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(2, auto);
    gap: 18px 5px;
  }
}
.card__content__plan-container .plan {
  flex: 1;
  margin-left: clamp(19px, 3vw, 21px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 43.74875em) {
  .card__content__plan-container .plan {
    margin-left: 17px;
  }
}
.card__content__plan-container .container__change {
  padding: 3px 0;
}
@media (max-width: 20.31125em) {
  .card__content__plan-container .container__change {
    grid-column: 1/3;
    grid-row: 2/3;
    justify-self: center;
  }
}
.card__content .plan-btn {
  display: inline-block;
  width: 120px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.card__content .plan-btn--purple {
  width: 100%;
  height: 50px;
  background-color: var(--bright-blue);
  box-shadow: 0px 8px 10px var(--shadow);
  margin-bottom: clamp(15px, 2.5vh, 25px);
  transition: background-color 0.2s;
}
.card__content .plan-btn--purple:hover {
  background-color: var(--light-blue);
}/*# sourceMappingURL=style.css.map */